<div class="inner-container">
  <h2>Welcome to isstracker</h2>

  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis ullam nemo
    magnam numquam. Illum maxime dolores inventore iste eos cumque ratione
    tenetur dicta beatae adipisci est mollitia laborum autem illo, accusamus
    quidem quasi, expedita libero impedit delectus, quibusdam voluptas
    doloribus. Debitis, minus exercitationem labore dicta ratione iste sint
    vitae odio!
  </p>

  <div class="form-group">
    <p class="form-title">Geographical coords:</p>
    <form [formGroup]="latLonForm" (ngSubmit)="onSubmit()">
      <div class="form-element">
        <label for="lat">Latitude:</label>
        <input type="number" step="0.1" formControlName="latitude"/>
      </div>
      <div class="form-element">
        <label for="lon">Longitude:</label>
        <input type="number" step="0.1" formControlName="longitude"/>
      </div>
      <button
        type="button"
        mat-raised-button
        class="btn"
        (click)="onGetLocationClick()"
      >
        Get my location!
      </button>
      <button type="submit" class="btn" mat-raised-button>
        Search for ISS!
      </button>
    </form>
  </div>
</div>
