<router-outlet></router-outlet>
<div class="container">
  <mat-tab-group
    mat-align-tabs="center"
    [selectedIndex]="selectedIndex"
    (selectedIndexChange)="changeIndex($event)"
  >
    <mat-tab label="First">
      <app-location-input></app-location-input>
    </mat-tab>
    <mat-tab label="Second" [disabled]="!isLocationChosen">
      <app-flyover-list></app-flyover-list>
    </mat-tab>
    <mat-tab label="Third">
      <app-flyover-single></app-flyover-single>
    </mat-tab>
  </mat-tab-group>
</div>
